## Editor
.vscode
*~
\#*\#

## Other
.DS_Store
tester
build
.host_updated

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a
*.la
*.lo

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex